@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-family: 'Nanum Gothic', sans-serif;
}

::selection {
	color: #fff;
	background: #1fde82;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.size {
	width: 1200px;
	height: 100%;
	position: relative;
	display: block;
	margin: 0 auto;;
}

/* 헤더설정 */
header {
	width: 100%;
	height: 70px;
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
	z-index: 900;
	background-color: #fff;
}

header > .size {
	position: relative;
}
header > .size > a{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}
header > .size > a > img {
	height: 45px;
	margin-right: 7px;
}
.right-menu {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
}
#main-menu {
	float: left;
	margin-right: 20px;
}
#main-menu > li {
	float: left;
	height: 28px;
	margin: 0 16px;
	color: #5d6678;
	font-size: 16px;
	cursor: pointer;
	font-weight: 100;
	position: relative;
	overflow: hidden;
}
#main-menu > li > span {
	width: 100%;
	height: 1px;
	background-color: #5d6678;
	position: absolute;
	bottom: 0;
	left: -100%;
}
#main-menu > li:hover > span {
	animation-duration: 0.5s;
	animation-name: menu-slide;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.login { 
	width: 120px;
	height: 40px;
	color: #5d6678;
	background-color: transparent;
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
	transition: 0.25s;
}
.rigth-menu > .login {
	float: left;
}
.login:hover {
	background-color: #1fde82;
	border-color: #1fde82;
	color: #fff;
}

@keyframes menu-slide {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

/*메인-비쥬얼*/
#visual {
	width: 100%;
	height: auto;
	padding: 70px 0;
	position: relative;
}
.home-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 50px 0;
	width: 100%;
}
.home-div > div {
	flex: 1;
}
.home-sub {
	padding-top: 100px;
}
.home-sub > h3 {
	font-size: 42px;
	color: #1d273b;
	font-weight: 100;
	line-height: 1.4;
	margin-bottom: 20px;
}
.home-sub > .firsth {
	font-size: 58px;
}
.home-sub > p {
	color: #5d6678;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 1.8;
}
.home-img > img {
	width: 90%;
	display:block;
}
.goregi {
	color: #fff;
	background-color: #1fde82;
	box-shadow: 0 8px 32px rgba(31,222,130,.46);
	border: none;
	border-radius: 4px;
	padding: 11px 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-right: 16px;
	transition: 0.25s;
}
.goregi:hover {
	background-color: #2570ff;
	box-shadow: 0 8px 32px rgba(37,112,255,.46);
}
.home-sub > a {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	color: #5d6678;
	transition: .25s;
}
.home-sub > a > span {
	font-size: 12px;
	font-weight: 100;
	margin-left: 10px;
	border: 1px solid #dcdfe5;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 3.2;
	transition: .25s;
}
.home-sub > a:hover {
	color: #2570ff;
}
.home-sub > a:hover > span {
	border-color: #2570ff;
}
.home-bar {
	width: 150px;
	height: 52px;
	border-radius: 60px;
	background-color: #f2f5fc;
	position: absolute;
	top: 50%;
	left: -15px;
	transform: translateY(-50%);
}

/* 메인-박스설명 */
#main-first {
	width: 100%;
	height: 990px;
	position: relative;
}
#main-first > img {
	position: absolute;
	right: -130px;
	top: 0;
}
#main-first > .size > p {
	color: #1d273b;
	font-size: 36px;
	font-weight: 100;
	line-height: 1.6;
	margin-bottom: 40px;
}
.main-boxes {
	width: 100%;
	height: 880px;
	display: flex;
	flex-wrap: wrap;
	min-width: 880px;
	justify-content: space-between;
}
.box {
	width: 370px;
	height: 390px;
	padding: 45px 40px;
	box-shadow: 0 4px 44px rgba(17,29,48,.06);
	margin-bottom: 30px;
	border-radius: 10px;
	transition: ease-in-out .3s;
}
.box:hover {
	box-shadow: 0 4px 44px rgba(17,29,48,.26); 
}
.box-icon {
	width: 92px;
	height: 92px;
	border: none;
	border-radius: 50%;
	background-color: #1fde82;
	font-size: 26px;
	color: #fff;
	box-shadow: 0 8px 32px rgba(31,222,130,.46);
	text-align: center;
	line-height: 92px;
	margin-bottom: 40px;
}
.box > h3 {
	font-size: 22px;
	color: #1d273b;
	margin-bottom: 16px;
}
.box > p {
	font-size: 14px;
	color: #5d6678;
	line-height: 1.8;
	margin-bottom: 30px;
}
.gologin {
	border: none;
	background: none;
	font-size: 13px;
	font-weight: bold;
	color: #5d6678;
	cursor: pointer;
	transition: ease-in-out .3s;
}
.gologin > i {
	margin-left: 7px;
}
.gologin:hover {
	color: #1fde82;
}

#main-second {
	width: 100%;
	height: 680px;
	margin: 80px 0; 
}
#main-second > .size > .home-div > .home-img {
	position: relative;
	background-position: bottom center;
	background-repeat: none;
}
#main-second > .size > .home-div > .home-img > .about-img {
	width: 423px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
#main-second > .size > .home-div > .home-img  > .about-bar {
	width: 670px;
	position: absolute;
	left: 50%;
	bottom: -150px;
	transform: translateX(-50%);
}